$scale: .25;

body,
html {
  display: flex;
  background: #444;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.container {
  transform: scale($scale);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100% / $scale;
}

.icon {
  width: 180px;
  height: 180px;
  background: white;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  margin: 60px;
  flex: 0 0 180px;
}
