html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        link(rel="stylesheet" href="./styles.scss")
        title Document
    body
        .container
            .icon.icon1
                .line
                .koleno
                .koleno.koleno2
                .koleno.koleno3
                .frame
                .dot
            .icon.icon2
                .line
                .koleno
                .koleno.koleno2
                .koleno.koleno3
                .frame
                .dot
            .icon.icon3
                - var i3arr = new Array(10).fill('')
                each val in i3arr
                    .koleno
            .icon.icon4
                each val in i3arr
                    .koleno

            .icon.icon5
                each val in i3arr
                    .koleno
            .icon.icon6
                each val in i3arr
                    .koleno

            .icon.icon7
                .koleno
                .koleno.koleno1

            .icon.icon8
                .koleno

            .icon.icon9
                .koleno
                .koleno1

            .icon.icon10
                .koleno
                .koleno.koleno1

            .icon.icon11
                .koleno
                .koleno.koleno1

            .icon.icon12
                .koleno

            .icon.icon13
                .koleno
                .hueno
            .icon.icon14
                .fon
                .kolens
                    each val, i in i3arr
                        .koleno
            .icon.icon15
                each val, i in i3arr
                    .koleno
            .icon.icon16
                each val, i in i3arr
                    .koleno
            .icon.icon17
                each val, i in i3arr
                    .koleno

            .icon.icon18
                each val, i in i3arr
                    .koleno
                        .kolobok

            .icon.icon19
                .koleno
                .kolobok